# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
*.dll
*.exe
*.pdb

# NuGet
*.nupkg
packages/

# Rider IDE
.idea/

# OS files
.DS_Store
Thumbs.db

#App specific
appsettings.json
